body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #0074D9;
    color: white;
}

h1 {
    margin: 0;
}

h2 {
    color: #333;
}

.profile-image {
    max-width: 400px;
    display: block;
    margin: 20px auto;
    height:auto
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #FF4136;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FF851B;
}
